@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.card{
    @apply bg-blue-600 h-48 flex-1 rounded-2xl relative overflow-hidden;
}

.card::before{
    content: '';
    @apply bg-indigo-600 h-64 w-1/2 absolute rounded-r-full;
}

.card::after{
    content: '';
    @apply bg-purple-400 h-36 w-36 absolute -right-8 -top-8 rounded-full;
}

 